# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# packages
package.json
package-lock.json

# testing
/coverage

# next.js
/.next/
/out/

next.config.js
postcss.config.js
tailwind.config.ts
taskActionTypes.js
taskActions.js
tsconfig.json

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

server/.env
frontend/.env

app/api/auth/[...nextauth]/.env
app/api/auth/[...nextauth]/*.ts
