@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {
    --primary-color: #05051c;
    --secondary-color: #e2e8ffbf;
}

@layer base {
    html {
      font-family: "Orbitron",
    }
  }

.--input-group {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}
/* 
.--input-settings {
    color: white;
    background-color: #424242;
    border: solid 1px white;
    border-radius: 12px;
    text-align: center;
    width: 50px;
    padding: 1rem;
    font-size: 1rem;
} */

.--header-name {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #f334ff;
    background-image: linear-gradient(255deg, #fda1ff 0%, #f0f0f0 100%);

    font-family: 'Orbitron',;
}

.font-orbitron {
    font-family: 'Orbitron', sans-serif;
}

.--header {
    background: rgba(255,255,255,.01);
    border-bottom: 1px solid rgba(226,232,255,.1);
}

.--border {
    border: 1px solid rgba(226,232,255,.1);
}

.--gradient-bg {
  background-size: 200% 200%;
  background-image: linear-gradient(255deg, #fda1ff 0%, #f0f0f0 50%, #fda1ff 100%);
  animation: Gradient 7s ease infinite;
}

@keyframes Gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.--tab {
    position: relative;
    padding: 12px 20px;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    background-color: #05051c;
    border-radius: 500px;
    border: 1px solid transparent;
    transition: border 0.45s cubic-bezier(.6,.6,0,1);
}

.--tab:hover {
    border-color: rgba(226,232,255,.1);
}

.--tab-group {
    border: 1px solid rgba(226,232,255,.1);
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    align-items: center;
    width: 400px;
    padding: 4px;
    margin-bottom: 1.25rem;
    border-radius: 500px;
}

.--btn {
    background-color: #f334ff;
    background-image: linear-gradient(255deg, #fda1ff 0%, #f0f0f0 100%);
}

.--tab-selected {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #f334ff;
    background-image: linear-gradient(255deg, #fda1ff 0%, #f0f0f0 100%);
}

.--input-gradient {
    background: linear-gradient(to bottom, #05051c 60%, rgba(255, 255, 255, 0.1));
    color: var(--secondary-color);
    background-color: #2d3748;
    border: 1px solid rgba(226,232,255,.5);
    border-radius: 0.25rem;
    padding: 0.25rem;
    width: 50px;
    text-align: center;
    font-size: 1rem;
}