@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.--input-group {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}
/* 
.--input-settings {
    color: white;
    background-color: #424242;
    border: solid 1px white;
    border-radius: 12px;
    text-align: center;
    width: 50px;
    padding: 1rem;
    font-size: 1rem;
} */

.--header-name {
    background-image: linear-gradient(135deg,color(display-p3 .6196078431 .4784313725 1/1) 0%,color(display-p3 .9960784314 .5450980392 .7333333333/1) 33.33%,color(display-p3 1 .7411764706 .4784313725/1) 66.67%,color(display-p3 .9725490196 .9176470588 .7647058824/1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
}

.font-orbitron {
    font-family: 'Orbitron', sans-serif;
}

.--header {
    background: rgba(255,255,255,.01);
    border-bottom: 1px solid rgba(226,232,255,.1);
}

.--tab {
    position: relative;
    color: white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    background-color: #05051c;
}

.--tab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 50%, transparent 70%);
    transform: scale(0);
    transition: transform 0.45s cubic-bezier(.6,.6,0,1);
}

.--tab:hover::before {
    transform: scale(1);
}

.--tab-group {
    border: 1px solid rgba(226,232,255,.1);
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    align-items: center;
    width: 300px;
    padding: 4px;
    margin-bottom: 1.25rem;
    border-radius: 500px;
}